<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/cv_sheet.css">

        <title>Brendan - CV</title>
    </head>
    <body>
        <object data="/resources/CV Brendan Stander.pdf" type="application/pdf" width="100%" height="100%">
            <p class='text-center m-5'>Your web browser doesn't have a PDF plugin.
            Instead you can <a href="/resources/CV Brendan Stander.pdf">click here to
            download the PDF file.</a></p>
        </object>
    </body>
</html>