<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing_sheet.css">
        <link rel="stylesheet" href="/stylesheets/about_sheet.css">
        <link rel="stylesheet" href="/stylesheets/contact_sheet.css">
        <link rel="stylesheet" href="/stylesheets/misc_sheet.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="icon" type="image/png" href="/resources/favicon.png" />
        <title>Brendan Stander</title>
    </head>
    <body>
        <button class='btn btn-dark to-top-btn'><i class="fas fa-arrow-up"></i></button>
        <div class="landing-container">
            <div class="container-fluid">
                <div class="container">
                    <nav class='navbar navbar-expand-lg navbar-light'>
                        <button class="navbar-toggler mt-2" type="button" data-toggle='collapse' data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class='navbar-toggler-icon'></span>
                        </button>
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto mt-3">
                                <li class="nav-item about-jq">
                                    <a href="#" class="nav-link collapse-trigger">about</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      portfolio
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/web-dev">web development</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/audio">audio engineering</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/music">musicianship</a>
                                    </div>
                                </li>
                                <li class="nav-item cv-item">
                                    <a href="/cv" class="nav-link collapse-trigger" target="_blank">cv</a>
                                </li>
                                <li class="nav-item contact-jq">
                                    <a href="#" class="nav-link collapse-trigger">contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="container click-away">
                    <% if(flashMessageSuccess && flashMessageSuccess.length > 0){ %>
                    <div class="alert alert-success" role="alert">
                        <%= flashMessageSuccess %>
                    </div>
                    <% } %>
                    <% if(flashMessageError && flashMessageError.length > 0){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= flashMessageError %>
                          </div>
                    <% } %>
                    <div class="landing">
                        <h1 class='name pr-4'>brendan</h1><h1 class='surname'>stander</h1>
                        <h4 class='pl-1 other-h4'>web developer <span>&#183;</span> audio engineer <span>&#183;</span> musician</h4>
                    </div>
                </div>

                <div class="down-point">
                    <i class="fas fa-caret-down"></i>
                </div>

            </div>
        </div>

        <div class="container-fluid p-0">
            <div class="about-container">
                <div class="row about-content">
                    <div class="col-lg-4">
                        <img src="/resources/code.png" alt="Icon not found">
                        <h5>web developer</h5>
                        <hr>
                        <p>
                            I started teaching myself coding with Python in October 2019. 
                            I attempted machine learning & data science, 
                            but decided to put it on hold and move over to web development in May 2020.
                        </p>
                        <button class="btn btn-sm btn-dark"><a href="/web-dev" class="nav-link">see more</a></button>
                    </div>
                    <div class="col-lg-4">
                        <img src="/resources/equalizer.png" alt="Icon not found">
                        <h5>audio engineer</h5>
                        <hr>
                        <p>
                            I graduated with a Diploma in Audio Engineering in 2016. 
                            Before that, in 2013, I obtained my NQF4 certificate in Audio Technology & production.
                        </p>
                        <button class="btn btn-sm btn-dark"><a href="/audio" class="nav-link">see more</a></button>
                    </div>
                    <div class="col-lg-4">
                        <img src="/resources/music.png" alt="Icon not found">
                        <h5>musician</h5>
                        <hr>
                        <p>
                            I started taking guitar lessons in 2006 and received my Grade 7 RockSchool certificate in 2011. 
                            I taught myself how to play drums starting 2008, and that has now become my main instrument.
                        </p>
                        <button class="btn btn-sm btn-dark"><a href="/music" class="nav-link">see more</a></button>
                    </div>
                </div>
                <div class="row cv-button m-0">
                    <div class="col-12">
                        <button class='btn btn-lg btn-dark'><a href="/cv" target="_blank">view my CV</a></button>
                    </div>
                </div>
            </div>

            <div class="contact-container">
                <div class="row contact m-0">
                    <div class="col-lg-4 text-center">
                        <img class='img-fluid' src="/resources/blur_edges.png" alt="">
                    </div>
                    <div class="col-lg-8 push-text">
                        <h4><span class='hey'>Hey!</span> This is me.</h4>
                        <p class='pb-3'>
                            Want to get in contact? Fill out the form below:
                        </p>
                        <form action='/contact' method='POST'>
                            <div class="form-group">
                                <input class="form-control" name='name' id='name' type="text" placeholder="Name (not required)">
                            </div>
                            <div class="form-group">
                                <input class="form-control" name='email' id='email' type="email" required placeholder="Email (required)">
                            </div>
                            <div class="form-group">
                                <label for="content">Your message:</label>
                                <textarea class="form-control" name="content" id="content" rows="4"></textarea>
                            </div>
                            <!-- <div class="text-center"> -->
                                <button class='btn btn-light' type='submit'>submit</button>
                            <!-- </div> -->
                        </form>
                    </div>
                </div>
                <h3 class='or my-4'>or contact me directly:</h3>
                <div class="row direct-contact m-0">
                    <div class="col-lg-6 divider">
                        <h1><i class="fas fa-envelope"></i></h1>
                        <h3><a href="mailto:info@bren-10.co.za">info@bren-10.co.za</a></h3>
                    </div>
                    <div class="col-lg-6">
                        <h1><i class="fas fa-mobile-alt"></i></h1>
                        <h3>+27 82 389 6188</h3>
                    </div>
                </div>
            </div>
        </div>
<%- include('partials/footer.ejs') %>