<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/misc_sheet.css">
        <link rel="stylesheet" href="/stylesheets/portfolio.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link rel="icon" type="image/png" href="/resources/favicon.png" />
        <title>Brendan - Music Portfolio</title>
    </head>
    <body>
        <button class='btn btn-dark to-top-btn'><i class="fas fa-arrow-up"></i></button>
        <div class="container">
            <div class="nav-item dropdown menu-button">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    menu
                </a>
                <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/">home</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/web-dev">web developer</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/audio">audio engineer</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/cv" target="_blank">CV</a>
                </div>
            </div>

            <div class="pushdown">
                <h1>Musicianship</h1>
                <hr class='main-hr'>
            </div>
            <div class="row">
                <div class="col-12 audio-list">
                    <h3>Education:</h3>
                    <ul>
                        <li>Music Theory (with Distinction), Grade 3<br><strong>- UNISA (2010)</strong></li>
                        <li>Guitar, Grade 7<br><strong>- Rockschool (2011)</strong></li>
                    </ul>

                    <h3>Work experience & Achievements:</h3>
                    <ul>
                        <li><strong>Manager</strong> - Paul Bothner Music (July 2017 - May 2018)</li>
                        <li><strong>Drums Tutor</strong> - Private (on & off since 2012)</li>
                        <li><strong>Guitarist & Drummer</strong> - Various paying bands (on & off since 2013)</li>
                    </ul>

                    <h3>Skilled in:</h3>
                    <ul>
                        <li>Drums</li>
                        <li>Guitar</li>
                        <li>Bass</li>
                        <li>Creative Writing</li>
                        <li>Covers</li>
                    </ul>
                    <hr>
                    <div class="showreel">
                        <h4>Some of my covers:</h4>
                        <div class="row">
                            <div class="col-lg-6 pushdown">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class='embed-responsive-item' width="560" height="315" src="https://www.youtube.com/embed/_Pyd3gxlf5c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>                
                            </div>
                            <div class="col-lg-6 pushdown">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class='embed-responsive-item' width="560" height="315" src="https://www.youtube.com/embed/sVst0Rxyt-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
<%- include('partials/footer.ejs') %>